@import url('./variables.css');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
  font-family: 'Kumbh Sans', sans-serif;
}


body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: linear-gradient(to top, var(--Soft-blue), var(--Soft-violet));
}

.card {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  width: 95%;
  /* height: 450px; */
  margin: auto;
  padding: 50px;
  border-radius: 30px;
}

.card .banner {
  width: 50%;
}

.card .banner img {
  width: 100%;
  transform: translateX(-150px) scale(1.25);
}

.card .faq {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 50%;
}

.card .faq .faq-title {
  color: var(--Very-dark-desaturated-blue);
  font-size: 35px;
}


.card .faq .ask .answer {
  font-size: 12px;
  color: var(--Dark-grayish-blue );
  height: 0;
  overflow: hidden;
  transition: .3s;
}

.card .faq .ask .answer.show {
  height: 30px;
}

.card .faq .ask .ask-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid var(--Light-grayish-blue);
  padding-bottom: 10px;
}

.card .faq .ask .ask-title.show {
  font-weight: bold;
}

.card .faq .ask .ask-title img {
  transition: .3s;
  vertical-align: top;
}

.card .faq .ask .ask-title.show img {
  transform: rotate(180deg);
}

.card .faq .ask .ask-title:hover {
  color: var(--Soft-red);
}

.card .faq .ask  {
  color: var(--Very-dark-grayish-blue);
  margin: 20px 0;
  /* border-bottom: 1px solid var(--Light-grayish-blue); */
}

@media (width <= 730px ) {
  .card {
    flex-direction: column;
  }

  .card .faq {
    width: 100%;
  }

  .card .banner img {
    transform: translateX(80px) scale(1.9) translateY(-70px);
  }
}

@media (width <= 420px ) {
  .card .banner img {
    transform: translateX(75px) scale(2.3) translateY(-50px);
  }

  .card .faq .ask .ask-title {
    font-size: 13px;
  }
}



.attribution {
  font-size : 11px;
  text-align: center;
  color: #fff;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}